# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages in Data Science
- Name commonly used libraries
- Draw a table with populas Data Science tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Pyton
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Lab|
|VS Code|
|Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [2]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author ##
Yovanny Izquierdo